In [401]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [402]:
stats = pd.read_csv("teamCsvFiles/OaklandAthletics.csv", encoding='latin1')
stats.fillna(0, inplace=True)

In [403]:
stats.columns

Index(['gameId', 'teamId', 'opponentId', 'homeTeam?', 'playerInfoId',
       'playerFullName', 'battingRuns', 'battingDoubles', 'battingTriples',
       'battingHomeRuns', 'battingStrikeOuts', 'battingBaseOnBalls',
       'battingHits', 'battingAtBats', 'battingStolenBases', 'battingRbi',
       'battingLeftOnBase', 'pitchingRuns', 'pitchingDoubles',
       'pitchingTriples', 'pitchingHomeRuns', 'pitchingStrikeOuts',
       'pitchingBaseOnBalls', 'pitchingHits', 'pitchingAtBats',
       'pitchingStolenBases', 'pitchingNumberOfPitches',
       'pitchingInningsPitched', 'pitchingWins', 'pitchingLosses',
       'pitchingHolds', 'pitchingBlownSaves', 'pitchingEarnedRuns',
       'pitchingPitchesThrown'],
      dtype='object')

In [404]:
game_scores = stats.groupby('gameId').agg(
    teamScore=('battingRuns', 'sum'),
    opponentScore=('pitchingRuns', 'sum')
)

# Assign 'Win' or 'Loss' based on the comparison of scores
game_scores['result'] = game_scores.apply(lambda row: 'Win' if row['teamScore'] > row['opponentScore'] else 'Loss', axis=1)

# Merge the result back to the original dataframe based on gameId
stats = stats.merge(game_scores['result'], left_on='gameId', right_index=True)

In [405]:
stats["battingAvg"] = (stats["battingHits"]) / (stats["battingAtBats"])
stats["onBasePercentage"] = (stats["battingHits"] + stats["battingBaseOnBalls"]) / (stats["battingAtBats"] + stats["battingBaseOnBalls"])
stats.fillna(0, inplace=True)

In [406]:
stats.head(3)

,gameId,teamId,opponentId,homeTeam?,playerInfoId,playerFullName,battingRuns,battingDoubles,battingTriples,battingHomeRuns,...,pitchingInningsPitched,pitchingWins,pitchingLosses,pitchingHolds,pitchingBlownSaves,pitchingEarnedRuns,pitchingPitchesThrown,result,battingAvg,onBasePercentage
0,717538,133,145,True,542208,Carlos Pérez,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Win,0.0,0.25
1,717538,133,145,True,621112,Paul Blackburn,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Win,0.0,0.00
2,717538,133,145,True,669674,Sam Long,0.0,0.0,0.0,0.0,...,0.1,0.0,0.0,0.0,0.0,0.0,10.0,Win,0.0,0.00

In [407]:
team_results = game_scores.groupby('result').size().reset_index(name='count')

print(team_results)

  result  count
0   Loss     62
1    Win     38

In [408]:
teamStats = stats.groupby(['playerFullName']).sum().reset_index()

# Drop the 'teamId' column
teamStats = teamStats.drop(['teamId','gameId','opponentId','homeTeam?','playerInfoId',"result","battingAvg"], axis=1)

In [409]:
teamStats["battingAvg"] = (teamStats["battingHits"]) / (teamStats["battingAtBats"])
teamStats["onBasePercentage"] = (teamStats["battingHits"] + teamStats["battingBaseOnBalls"]) / (teamStats["battingAtBats"] + teamStats["battingBaseOnBalls"])
teamStats.fillna(0, inplace=True)

In [410]:
teamStats.head(3)

,playerFullName,battingRuns,battingDoubles,battingTriples,battingHomeRuns,battingStrikeOuts,battingBaseOnBalls,battingHits,battingAtBats,battingStolenBases,...,pitchingNumberOfPitches,pitchingInningsPitched,pitchingWins,pitchingLosses,pitchingHolds,pitchingBlownSaves,pitchingEarnedRuns,pitchingPitchesThrown,onBasePercentage,battingAvg
0,Aaron Brooks,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,Abraham Toro,4.0,0.0,0.0,1.0,5.0,4.0,11.0,30.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.441176,0.366667
2,Adrián Martínez,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,542.0,30.1,0.0,2.0,1.0,0.0,18.0,542.0,0.000000,0.000000